* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5ededb6;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.794);
  font-weight: 500;
}
a:hover {
  color: #39caf0;
}

h4 {
  color: #39caf0;
  border: 3px solid rgba(0, 0, 0, 0.226);
  padding: 0.1rem 0.2rem;
}
button {
  background-color: #39caf0 !important;
  color: #fff !important;
}

h6 {
  font-size: 14px !important;
}
